<div class="footer-body">
        <div class="col-b-2 col-a-12 logo">
            <img src="images/card.png" alt="" />
        </div>
        <div class="col-b-8 col-a-12 intro">
            <dl>
                <dt>集团概况</dt>
                <dd>
                    <a href="#">公司介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
            </dl>
            <dl>
                <dt>友情链接</dt>
                <dd>
                    <a href="#">公司介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
            </dl>
            <dl>
                <dt>新闻资讯</dt>
                <dd>
                    <a href="#">公司介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
            </dl>
            <dl>
                <dt>人才发展</dt>
                <dd>
                    <a href="#">公司介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
                <dd>
                    <a href="#">企业介绍</a>
                </dd>
            </dl>
        </div>
        <div class="col-b-2 col-a-12 ewm">
            <h6>联系我们</h6>
            <b>0212-12563164169</b>
            <img src="images/ewm.png" alt="" />
            <p>微信公众号</p>
        </div>
    </div>