<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{cms:config name="cms.title"/} - {cms:config name="cms.sitename"/}</title>
<meta name="keywords" content="{cms:config name='cms.keywords'/}" />
<meta name="format-detection" content="telephone=yes">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="{cms:config name='cms.description'/}" />
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<link rel="stylesheet" href="__ADDON__/css/swiper.css">
<link rel="stylesheet" href="__ADDON__/css/com.css">
<script src="__ADDON__/js/jquery-3.0.0.min.js"></script>
<script src="__ADDON__/js/swiper.js"></script>